/*
  Style Guide
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font color: #333
  font color (menu, links): #14a6dc
  background color (body, h2):  #f0f0f0
  background color (main div): #f9f9f9
  borders: #e1e1e8
*/
.finding-aid {
  color: #333;
  font-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

/* layout */
.finding-aid #main {
  font-size: .87em;
  background-color: #f9f9f9;
  border: 1px solid #e1e1e8;
  margin: 1em;
  padding: 1em;
  clear: both;
}
/* header*/
.finding-aid #header {
  margin-left: 1em;
}

/*Table of contents*/
#toc {
  margin: 0;
  padding: 0 1em 1.25em 0;
  font-size: .85em;
  width: 25%;
  float: left;
  clear: left;
  position: relative;
  max-height: 600px;
  max-width: 25%;
  overflow: scroll;
}
#toc ul {
  background-color: #ffffff;
  border: 1px solid #e1e1e8;
  margin: 0;
  padding: 0;
}
#toc li {
  list-style: none;
  border-bottom: 1px solid #e1e1e8;
  overflow: hidden;
  margin-left: 1em;
}
#toc a,
.top a {
  color: #14a6dc;
  display: block;
  /*height:25px;*/
  line-height: 2em;
  text-decoration: none;
}
#toc ul li a:hover,
#toc ul li .current {
  background: #f9f9f9;
}
#toc li.submenu {
  margin-left: 1.75em;
}
#toc li.submenu2 {
  margin-left: 2.5em;
}

/* Main content div*/
.finding-aid #content {
  border: 1px solid #e1e1e8;
  background-color: #ffffff;
  margin: 1em 0 0 25%;
  padding: 0;
}

.finding-aid .section {
  background-color: #fafafa;
  border: 1px solid #e1e1e8;
  margin: 1em;
  padding: 0;
}
.sectionContent {
  border: 1px solid #e1e1e8;
  background-color: #ffffff;
  margin: .5em;
  padding: .25em .5em;
}

dl.summary {
  width: 100%;
  overflow: hidden;
  clear: both;
}
dl.summary dt {
  float: left;
  width: 25%;
  text-align: right;
  clear: left;
}
dl.summary dd {
  margin-left: 30%;
  width: 70%;
  clear: right;
}

/* typography */
.finding-aid #header h1 {
  font-size: 1.75em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.finding-aid #header h2 {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border: none;
}
.finding-aid h2 {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0;
  padding: .25em 1em;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e1e1e8;
}
.finding-aid h3 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: .25em 1em;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e1e1e8;
}
.finding-aid h4 {
  font-weight: 600;
  color: #666666;
  margin: 0;
}

.finding-aid dd {
  margin-bottom: 1em;
}
.block {
  display: block;
}
.list {
  margin: .5em;
  padding-left: .5em;
}

/* Table styles */
.finding-aid table {
  width: 98%;
  margin: 1em 2em;
  background-color: #f0f0f0;
}
.finding-aid td {
  background-color: #ffffff;
  padding: .25em .75em;
  vertical-align: top;
}
.thead td {
  background-color: #f0f0f0;
}
.tlist {
  width: 50%;
}
.even td {
  background-color: #f7f7f9;
}

/* List styles */
.simple {
  list-style-type: none;
}
.arabic {
  list-style-type: decimal;
}
.upperalpha {
  list-style-type: upper-alpha;
}
.loweralpha {
  list-style-type: lower-alpha;
}
.upperroman {
  list-style-type: upper-roman;
}
.lowerroman {
  list-style-type: lower-roman;
}

/* Render styles */
.smcaps {
  font-variant: small-caps;
}
.underline {
  text-decoration: underline;
}
.strong {
  font-weight: 600;
}

/* Address line */
.addressLine {
  display: block;
}

/* publication statement*/
.publication {
  display: block;
  float: right;
  margin-right: 2em;
  font-size: .75em;
}

/* Collection Inventory */
table.dsc {
  text-align: left;
  margin: .5em;
  padding: 0;
  font-size: .85em;
}
.dsc th {
  text-align: left;
  padding: .5em;
  font-weight: normal;
  border-top: 2px solid #ccc;
  border-bottom: 1px dotted #ccc;
  vertical-align: top;
}
.headers th {
  background-color: #f7f7f9;
  font-weight: bold;
  border-top: none;
  vertical-align: top;
}
.dsc dd {
  margin-bottom: .5em;
}
.dsc h3 {
  font-weight: bold;
  border: none;
  padding: 0;
}
.dsc .didTitle {
  display: block;
}
.dscSeries {
  margin-left: .5em;
}
.dscSeries p {
  margin: 0 .5em .5em;
}
table.dsc td p {
  margin: 0 .5em .5em;
}
.dscHeaders {
  text-decoration: underline;
}

/*--- Clevel Margins ---*/
table td.c {
  padding-left: 0;
}
table td.c01 {
  padding-left: 0;
}
table td.c02 {
  padding-left: 1em;
}
table td.c03 {
  padding-left: 2em;
}
table td.c04 {
  padding-left: 3em;
}
table td.c05 {
  padding-left: 4em;
}
table td.c06 {
  padding-left: 5em;
}
table td.c07 {
  padding-left: 6em;
}
table td.c08 {
  padding-left: 7em;
}
table td.c09 {
  padding-left: 8em;
}
table td.c10 {
  padding-left: 9em;
}
table td.c11 {
  padding-left: 10em;
}
table td.c12 {
  padding-left: 11em;
}
